@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* HEC color palette */
$noir:  #000000 !default;
$blanc:  #FFFFFF !default;
$bleuhec:  #002855 !default;
$grisf: #888b8d !default;
$grisp: #d9d9d6 !default;
$bleuf: #0072ce !default;
$bleup: #92c1e9 !default;
$aquaf: #00aec7 !default;
$aquap: #88dbdf !default;
$vertf: #26d07c !default;
$vertp: #8fe2b0 !default;
$rougef:  #ff585d !default;
$rougep:  #ffb1bb !default;
$rosef: #eb6fbd !default;
$rosep: #eab8e4 !default;
$jaunef: #f3d03e !default;
$jaunep: #f2f0a1 !default;

$primary:       $rosep !default;
$secondary:     $rosef !default;
$success:       $rougef !default;
$info:          $aquap !default;
$warning:       $jaunef !default;
$danger:        $rougef !default;
$light:         $grisp !default;
$dark:          $grisf !default;

$font-family-sans-serif:      Fira Sans Condensed, sans-serif !default;
$font-family-serif:           Barlow, serif !default;  /* Not actually a serif font but whatever */

$font-size-base:              1.25rem !default;
$headings-font-weight:        700 !default;

$h1-font-size: $font-size-base * 2.45;
$h2-font-size: $font-size-base * 1.85;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.8;


$toc-font-size: 0.95rem;
$sidebar-font-size: 1.1rem;
$sidebar-font-size-section: 0.95rem;
$footer-font-size: 0.95rem;
$link-color: $grisf;
$link-hover-color: darken($rosep, 0.8);
$monokai-bg: #2e3440;
$sidebar-fg: $noir;

$callout-color-note: #0072ce;
$callout-color-important: #00aec7;
$callout-color-tip: #00aec7;
$callout-color-caution: #f3d03e;
$callout-color-warning: #ff585d;
$callout-color-frame: #acacac;


/*-- scss:rules --*/
h2 {
  border-bottom: none;
}

ul,
ol {
  font-family: $font-family-serif;
}

// Home page stuff
.title-block {
  margin: 1em 0;
  border-bottom: 3px solid $gray-200;
  padding-bottom: 1em;
}

.course-details {
  margin: 0 0 1em;
  border-bottom: 3px solid $gray-200;
  padding-bottom: 1em;
}

.course-title {
  font-size: 3.3rem;
  margin-top: 0;
}

.course-subtitle {
  font-size: 1.7rem;
}

.course-meta {
  font-size: 1.2rem;
  color: $gray-500;
}

.course-details ul {
  list-style: none;
  text-indent: -0.7rem;
  padding-left: 1.4rem;
}

.contact-policy p {
  font-size: 1rem;
  line-height: 1.5;
}

.course-details-smaller li {
  font-size: 1rem;
}

.course-details-smaller h3 {
  font-size: 1.4rem;
}


// Footer stuff
.nav-footer-left {
  text-align: left;
}

.nav-footer-right {
  text-align: right;
}


// Schedule stuff
.content-title {
  font-weight: 700;
}

.schedule-page h3 {
  text-align: center;
  margin-top: 3rem;
  border-bottom: 3px solid $rosep;
  padding-bottom: 0.5rem;
}


// Content page stuff
// Date bar
.date-block {
  font-size: 1.3rem;
}

.bg-content {
  background-color: $pink;
}

.bg-assignment {
  background-color: $rosep;
}

// Slightly larger buttons
p a.btn, .buttons span.btn {
  font-size: 1.2rem;
}

// No space after lists-within-lists
main {
  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-bottom: 0em;
  }
}

// Make callout text and icon bigger
.callout.callout-style-default {
  > div.callout-header,
  > .callout-body {
    font-size: 1.2rem;
  }

  .callout-icon::before {
    height: 1.2rem;
    width: 1.2rem;
    background-size: 1.2rem 1.2rem;
  }
}

#toc-title {
  font-weight: 700;
}

// Code stuff
// Shrink blocks of code
pre.text, pre.sourceCode, .cell-output pre {
  font-size: 0.775em;
}

// Slight bottom margin to output
.cell-output {
  margin: 0 0 1em;
}

// Slightly larger buttons
p a.btn, .buttons span.btn {
  font-size: 1.1rem;
}

.buttons .btn {
  margin-bottom: 1rem;
}


.download-btn {
  padding-top: 0.25rem;
  margin-bottom: 0;
  text-align: center;
}
main {
  // No space after lists-within-lists
  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-bottom: 0em;
  }

  // But yes space after lists-within-lists when paragraphs are involved
  ol p + ol,
  ul p + ul,
  ol p + ul,
  ul p + ol {
    margin-bottom: 1em;
  }
}

main.page-columns > header > h1.title, 
main.page-columns > header > .title.h1 {
  margin-bottom: 1rem;
}

// Remove margin on pre in output
.cell-output pre {
  margin-bottom: 0;
  color: $gray-900;
}

// Format output and plain text blocks like code
.cell-output, pre.text {
  border: none;
  padding: .4em;
  background-color: $gray-100;
  border: 1px solid $gray-200;
  border-radius: .25rem;
}

pre.text {
  color: #000;
}

.btn-danger {
    font-weight: bold;  
    
}   


// Active links in navbar and sidebar
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
div.sidebar-item-container .active,
div.sidebar-item-container .show>.nav-link,
div.sidebar-item-container .sidebar-link>code{
  color: $noir;
  font-weight:bold

}

div.sidebar-item-container .active,
div.sidebar-item-container .show>.nav-link,
div.sidebar-item-container .sidebar-link>code{
  color: $noir;
  font-weight: bold;
}


.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-brand:hover {
  color: $noir;
  font-weight: bold;
}


// Footer stuff
.nav-footer-left {
  text-align: left;
}

.nav-footer-right {
  text-align: right;
}

// Temporarily hide the middle div since it has unmodifiable GitHub links as of Quarto 1.3.something: https://github.com/quarto-dev/quarto-cli/issues/5283
.nav-footer-center {
  display: none;
}

.nav-footer-left {
  flex-grow: 3;
}
